# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\src\bitfont-tools\make-bdf-proportional\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
